.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 50px;

}

.btn {
  width: 120px;
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer;

}

.orange {
  background-color: rgb(255, 140, 0);
}

.pink {
  background-color: rgb(255, 0, 153);
}

.violet {
  background-color: rgb(170, 0, 255);
}