.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.magicText {
  font-size: 27px;
  font-family: monospace;
  font-weight: bold;
  color: rgb(227 118 66 / 79%);
}

.magicBtn {
  width: 70px;
  height: 68px;
  text-align: center;
  padding: 12px;
  border: solid 2px;
  border-radius: 50%;
  border-color: hsl(182, 25%, 70%);
  font-family: monospace;
  color: yellow;
  background-color: tomato;
  font-weight: bold;
  cursor: pointer;
}

.textNewColor {
  color: hsl(322, 79%, 60%);
  text-shadow: 4px 5px 6px rgba(246, 234, 4, 9.638);
}