:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.content a {
  font-weight: 500;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content ul {
  padding-left: 0;

}

li {
  list-style: none;
}

.header,
.footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: 10px;
}

.header__list {
  display: flex;
}

.header__list li {
  padding: 10px;
}

.content {
  height: 100vh;
  position: relative;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  max-width: 75%;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.content .active {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.d-flex {
  background: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.listItem {
  border: 1px solid rgba(255, 171, 35, 0.301);
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}